<div id="header-wrapper">
  <div id="header-left">
    <span id="logo-hn" [routerLink]="['/topstories']"></span>
    <span>&nbsp;</span>
    <a [routerLink]="['/newstories']" routerLinkActive="active">New </a>
    <span>&nbsp;</span>
    <a [routerLink]="['/beststories']" routerLinkActive="active">Best  </a>
    <span>&nbsp;</span>
    <a [routerLink]="['/askstories']" routerLinkActive="active">Ask </a>
    <span>&nbsp;</span>
    <a [routerLink]="['/showstories']" routerLinkActive="active">Show 
     </a>
    <span>&nbsp;</span>
    <a [routerLink]="['/jobstories']" routerLinkActive="active">Jobs </a>
  </div>

  <div id="header-right">
    Built with Angular 5
    &nbsp;&nbsp;
    <a [routerLink]="['/simple']" routerLinkActive="active"><span>Old Version</span> </a>
  </div>

</div>